@model KKK_Zusterna.Models.Kontakt

@{
    ViewBag.Title = "Kajak kanu klub Žusterna";
}

<div class="span12">
    
    @if (KKK_Zusterna.Models.GlobalErrors.seznamNapak != null && KKK_Zusterna.Models.GlobalErrors.seznamNapak.Count > 0)
    {
        foreach (string napaka in KKK_Zusterna.Models.GlobalErrors.seznamNapak)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Napaka!</strong><br /> @napaka
                    </div> 
                </div>
            </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril != null && KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril.Count > 0)
    {
        foreach (string opozorilo in KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opozorilo!</strong><br /> @opozorilo
                    </div> 
                </div>
            </div> 
        }
    }

    @if (KKK_Zusterna.Models.GlobalNotifications.seznamObvestil != null && KKK_Zusterna.Models.GlobalNotifications.seznamObvestil.Count > 0)
    {
        foreach (string obvestilo in KKK_Zusterna.Models.GlobalNotifications.seznamObvestil)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opravljeno! </strong>@obvestilo 
                    </div>
                </div>
            </div>
        }
    }
    
    <ul class="breadcrumb alert alert-info">
        <li class="active">Kontakt</li>
    </ul> 
    
    @if (Model != null)
    {
        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline">
                    <label class="control-label"><b>E-mail:</b></label>
                    <label class="control-label"><a href="mailto: @Model.Email">@Model.Email</a></label>
                </form>
            </div>
        </div>
    
        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline">
                    <label class="control-label"><b>Tel.:</b></label>
                    <label class="control-label">@Model.Telefon</label>
                </form>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline">
                    <label class="control-label"><b>Fax:</b></label>
                    <label class="control-label">@Model.Fax</label>
                </form>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline">
                    <label class="control-label"><b>Gsm:</b></label>
                    <label class="control-label">@Model.GSM</label>
                </form>
            </div>
        </div>
    
        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline">
                    <label class="control-label"><b>Naslov:</b></label>
                    <label class="control-label">@Model.Naslov</label>
                </form>
            </div>
        </div>
    }
    
    <div class="row-fluid">
        <div class="span12">
            <legend>Pišite nam:</legend>    
        </div>
    </div>
     
    @using (Html.BeginForm("PosljiMail", "KlubskiKoticek", FormMethod.Post))
    {
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <label>Vpišite vaše ime:</label>
                    <input name="Ime" type="text" width="100%" placeholder="Ime ..." class="input-block-level" required/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label>Vpišite vaš priimek:</label>
                    <input name="Priimek" type="text" width="100%" placeholder="Priimek ..." class="input-block-level" required/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label>Vpišite vaš e-naslov:</label>
                    <input name="Email" type="email" width="100%" placeholder="Email ..." class="input-block-level" required/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label>Vpišite vsebino:</label>
                    <textarea name="Vsebina" type="text" id="KontaktVsebina" width="100%" placeholder="Vsebina ..." class="input-block-level" rows="15" required></textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" type="submit"><i class="icon-envelope icon-white"></i>  Pošlji</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
      
</div>
