@model Tuple<KKK_Zusterna.Models.LetoRezultati, PagedList.IPagedList<KKK_Zusterna.Models.Rezultati>>
@using PagedList.Mvc;       

@{
    ViewBag.Title = "Kajak kanu klub Žusterna";
}

<div class="span12">
    
    @if (KKK_Zusterna.Models.GlobalErrors.seznamNapak != null && KKK_Zusterna.Models.GlobalErrors.seznamNapak.Count > 0)
    {
        foreach (string napaka in KKK_Zusterna.Models.GlobalErrors.seznamNapak)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Napaka!</strong><br /> @napaka
                    </div> 
                </div>
            </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril != null && KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril.Count > 0)
    {
        foreach (string opozorilo in KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opozorilo!</strong><br /> @opozorilo
                    </div> 
                </div>
            </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalNotifications.seznamObvestil != null && KKK_Zusterna.Models.GlobalNotifications.seznamObvestil.Count > 0)
    {
        foreach (string obvestilo in KKK_Zusterna.Models.GlobalNotifications.seznamObvestil)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opravljeno! </strong>@obvestilo 
                    </div>
                </div>
            </div>
        }
    }  
    
    @if (Model.Item2 != null && Model.Item2.Count > 0)
    {
        <ul class="breadcrumb alert alert-info">
            <li><a href="@Url.Action("Rezultati", "Tekmovanja")">Rezultati</a> <span class="divider">/</span></li>
            <li class="active">@Model.Item1.Leto</li>
        </ul>

        foreach (var rezultat in Model.Item2)
        {
            <div class="row-fluid">
                <div class="span12">
                    <legend>@rezultat.Naslov:</legend>    
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <p>@(new HtmlString(rezultat.Vsebina))</p>    
                </div>
            </div>
            if (!string.IsNullOrEmpty(rezultat.URLFile))
            {
                <div class="row-fluid">
                    <div class="span12">
                        @if (!string.IsNullOrEmpty(rezultat.FileName))
                        {
                            <p>Priloga: <a href="@Url.Content(rezultat.URLFile)">@rezultat.FileName</a></p>
                        }
                        else
                        {
                            <p>Priloga: <a href="@Url.Content(rezultat.URLFile)">@rezultat.URLFile</a></p>
                        }
                    </div>
                </div>   
            }
            <div class="row-fluid">
                <div class="span12">
                    <span class="muted">Objavil: @rezultat.Spremenil</span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <span class="muted">Datum objave: @rezultat.SpremenilDatum</span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12"></div>
            </div>
        }
        
        @Html.PagedListPager(Model.Item2, page => Url.Action("PrikaziRezultate", "Tekmovanja", new { ID_letoRezultati = Model.Item1.ID_letoRezultati, page }))
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Opozorilo!</strong> Ni dodanih rezultatov.
                </div>
            </div>
        </div>
        
        <ul class="breadcrumb alert alert-info">
          <li><a href="@Url.Action("Rezultati", "Tekmovanja")">Rezultati</a> <span class="divider">/</span></li>
          <li class="active">@Model.Item1.Leto</li>
        </ul> 
    }
    
      
</div>
