@{
    ViewBag.Title = "Kajak kanu klub Žusterna";
}

<div class="span12">
    
    @if (KKK_Zusterna.Models.GlobalErrors.seznamNapak != null && KKK_Zusterna.Models.GlobalErrors.seznamNapak.Count > 0)
    {
        foreach (string napaka in KKK_Zusterna.Models.GlobalErrors.seznamNapak)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Napaka!</strong><br /> @napaka
                    </div> 
                </div>
            </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril != null && KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril.Count > 0)
    {
        foreach (string opozorilo in KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opozorilo!</strong><br /> @opozorilo
                    </div> 
                </div>
            </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalNotifications.seznamObvestil != null && KKK_Zusterna.Models.GlobalNotifications.seznamObvestil.Count > 0)
    {
        foreach (string obvestilo in KKK_Zusterna.Models.GlobalNotifications.seznamObvestil)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opravljeno! </strong>@obvestilo 
                    </div>
                </div>
            </div>
        }
    }    

    @if (ViewBag.Data != null)
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>Uredi/Izbriši uporabnika: @ViewBag.Data.Ime @ViewBag.Data.Priimek</h3>    
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <legend>Podatki</legend>    
                    </div>
                </div>
                @using (Html.BeginForm("UpdateUporabnik", "Administracija", FormMethod.Post))
                {
                    <div class="row-fluid">
                        <div class="span4">
                            <label>ID uporabnik:</label>
                            @Html.TextBox("ID_uporabnik", (int)ViewBag.Data.ID_uporabnik, new { placeholder = "ID uporabnik ...", @readonly = "readonly", @class = "input-block-level" }) 
                        </div>
                        <div class="span4">
                            <label>Spremenil:</label>
                            @Html.TextBox("Spremenil", (string)ViewBag.Data.Spremenil, new { placeholder = "Spremenil ...", @readonly = "readonly", @class = "input-block-level" }) 
                        </div>
                        <div class="span4">
                            <label>Datum spremembe:</label>
                            @Html.TextBox("SpremenilDatum", (DateTime)ViewBag.Data.SpremenilDatum, new { placeholder = "Datum spremembe ...", @readonly = "readonly", @class = "input-block-level" }) 
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>E-mail:</label>
                            <input class="input-block-level" type="email" name="Email" placeholder="Email ..." value="@ViewBag.Data.Email" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Ime:</label>
                            <input class="input-block-level" type="text" name="Ime" placeholder="Ime ..." value="@ViewBag.Data.Ime" required readonly>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Priimek:</label>
                            <input class="input-block-level" type="text" name="Priimek" placeholder="Priimek ..." value="@ViewBag.Data.Priimek" required readonly>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="checkbox">
                                Administrator @Html.CheckBox("Administrator", ViewBag.Data.Administrator == 1 ? true : false)
                            </label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <legend>Operacije</legend>    
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary" type="submit"><i class="icon-edit icon-white"></i>  Uredi</button>  
                                    <a class="btn btn-danger" href="@Url.Action("DeleteUporabnik", "Administracija", new { ID_uporabnik = ViewBag.Data.ID_uporabnik })"><i class="icon-trash icon-white"></i>  Izbriši uporabnika</a>
                                    <a class="btn" href="@Url.Action("Uporabniki", "Administracija")"><i class="icon-remove"></i>  Zapri</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>Dodaj uporabnika</h3>    
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <legend>Podatki</legend>    
                    </div>
                </div>
                @using (Html.BeginForm("InsertUporabnik", "Administracija", FormMethod.Post))
                {
                    <div class="row-fluid">
                        <div class="span12">
                            <label>E-mail:</label>
                            <input class="input-block-level" type="email" name="Email" placeholder="Email ..." required> 
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Ime:</label>
                            <input class="input-block-level" type="text" name="Ime" placeholder="Ime ..." required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Priimek:</label>
                            <input class="input-block-level" type="text" name="Priimek" placeholder="Priimek ..." required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="checkbox">
                                Administrator @Html.CheckBox("Administrator", null)
                            </label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Geslo:</label>
                            <input class="input-block-level" type="password" name="Geslo" placeholder="Geslo ..." required> 
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Ponovi geslo:</label>
                            <input class="input-block-level" type="password" name="PonoviGeslo" placeholder="Ponovi geslo ..." required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <legend>Operacije</legend>    
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"></i>  Shrani</button>  
                                    <a class="btn" href="@Url.Action("Uporabniki", "Administracija")"><i class="icon-remove"></i>  Zapri</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
      
</div>
