@{
    ViewBag.Title = "Kajak kanu klub Žusterna";
}
<div class="span12">
    @if (KKK_Zusterna.Models.GlobalErrors.seznamNapak != null && KKK_Zusterna.Models.GlobalErrors.seznamNapak.Count > 0)
    {
        foreach (string napaka in KKK_Zusterna.Models.GlobalErrors.seznamNapak)
        {
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;</button>
                    <strong>Napaka!</strong><br />
                    @napaka
                </div>
            </div>
        </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril != null && KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril.Count > 0)
    {
        foreach (string opozorilo in KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opozorilo!</strong><br /> @opozorilo
                    </div> 
                </div>
            </div> 
        }
    }

    @if (KKK_Zusterna.Models.GlobalNotifications.seznamObvestil != null && KKK_Zusterna.Models.GlobalNotifications.seznamObvestil.Count > 0)
    {
        foreach (string obvestilo in KKK_Zusterna.Models.GlobalNotifications.seznamObvestil)
        {
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;</button>
                    <strong>Opravljeno! </strong>@obvestilo
                </div>
            </div>
        </div>
        }
    }
    @if (ViewBag.Data != null && ViewBag.Data.Count > 0)
    {
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    @ViewBag.Kategorija.Naslov</h3>
            </div>
        </div>
        
        int index = 0;
        int stevec = 0;

        while (index != ViewBag.Data.Count)
        {
            <div class="row-fluid">
                <ul class="thumbnails">
                    @for (int i = index; i < ViewBag.Data.Count; i++)
                    {
                        <li class="span3">
                            <a href="@ViewBag.Data[index].URLSlika" rel="lightbox[@ViewBag.Kategorija.Naslov]" title="" class="thumbnail">
                                <img src="@ViewBag.Data[index].URLSlika" alt="" width="100%" height="100%">
                            </a>
                        </li> 
                        stevec++;
                        index++;
                        if (stevec == 4)
                        {
                            break;
                        }
                    }           
                </ul>
            </div>
            stevec = 0;
        } 
        
         <div class="row-fluid">
            <div class="span12">
                <legend>Informacije o galeriji:</legend>    
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <span class="muted">Objavil: @ViewBag.Kategorija.SpremenilUporabnik</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <span class="muted">Datum objave: @ViewBag.Kategorija.SpremenilDatum</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <legend>Operacije:</legend>    
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <a class="btn btn-primary" href="@Url.Action("GalerijaSlik", "Splosno")"><i class="icon-arrow-left icon-white"></i>  Nazaj</a>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12"></div>
        </div>
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">
                        &times;</button>
                    <strong>Opozorilo!</strong> Ni dodanih slik.
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    Galerija slik - @ViewBag.Kategorija.Naslov</h3>
            </div>
        </div>
    }
</div>
